* { box-sizing: border-box; }

body {
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    padding: 20px;
    width: 100%;
    min-height: 1px;
    float: left;
}

.col {
    background: #677DCC;
    min-height: 40px;
    border-radius: 8px;
    margin-left: 2.4%;
    margin-right: 2.4%;
    display: inline-block;
    float: left;
}


/* These numbers are based on 2.4% margin-left and margin-right values. You may have different ones */
.col:first-child { margin-left: 0px; }

.col:last-child { margin-right: 0px; }

.col.one { width: 3.93%; background-color: #000000; }

.col.two { width: 12.66%; background-color: #000000; }

.col.three { width: 21.4%; background-color: #000000;}

.col.four { width: 30.13%; background-color: #000000; }

.col.five { width: 38.867%; background-color: #000000; }

.col.six { width: 47.6%; }

.col.seven { width: 56.333%; background-color: #000000; }

.col.eight { width: 65.07%; background-color: #000000; }

.col.nine { width: 73.8%; }

.col.ten { width: 82.533%; }

.col.eleven { width: 91.27%; background-color: #000000; }

.col.twelve { width: 100%; background-color:#000000;

}

@media (max-width: 768px) {
    .col {
        width: 100% !important;
        margin: 5px 0px 0px 0px;
    }
}
